server:
  port: 8461
logging:
  file: /java/C2S_LOGS/ums/ums.log
  level:
    gov.samhsa.c2s.ums: debug
    org.modelmapper: debug

info:
  component: User Management Service
spring:
  datasource:
    # configure url, username and password per environment
    url: jdbc:mysql://localhost:3306/ums?autoReconnect=true
    username: root
    password: admin
  mail:
  # UMS will use the e-mail server configured in this section to send e-mails
    # Please configure valid e-mail server below to connect to SMTP server
    # Configure host, port, username and password per environment
    host: mail_host
    port: 25
    protocol: smtp
    username: mail_username
    password: mail_password
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.ssl.trust: mail_host
  messages:
    basename: i18n/messages
c2s:
  ums:
    gender:
      codeSystem: http://hl7.org/fhir/administrative-gender
      codeSystemOID: urn:oid:2.16.840.1.113883.4.642.1.2
      displayName: GENDER
    ssn:
      codeSystem: http://hl7.org/fhir/sid/us-ssn
      codeSystemOID: urn:oid:2.16.840.1.113883.4.1
      displayName: SSN
      # if 'reassignable' is true, the identifiers from this system can be assigned to more than one person
      reassignable: false
      # if 'update-in-database-on-startup' is true, this system will be inserted/updated using 'c2s.ums.ssn.codeSystem' value as the key
      update-in-database-on-startup: true
    mrn:
      codeSystem: https://bhits.github.io/consent2share
      codeSystemOID: urn:oid:1.3.6.1.4.1.21367.13.20.200
      displayName: MRN
      prefix: C2S-DEV
      length: 6
      # if 'reassignable' is true, the identifiers from this system can be assigned to more than one person
      reassignable: false
      # if 'update-in-database-on-startup' is true, this system will be inserted/updated using 'c2s.ums.mrn.codeSystem' value as the key
      update-in-database-on-startup: true
    required-identifier-systems-by-role:
      # the list of required identifiers for the 'patient' role. other roles can be added following the similar structure. the roles should be specified by the 'role code' value.
      patient:
        # multiple identifier systems can be provided here as a list
        -
          system: ${c2s.ums.mrn.codeSystem}
          # if the algorithm is different than 'NONE', the system will generate this identifier and it cannot be manually set
          algorithm: MRN
      provider:
        -
          system: http://hl7.org/fhir/sid/us-npi
    avatars:
      # The max allowed avatar image file size in bytes
      max-file-size: 50000
      # List of allowed avatar image file types; an image file's type is determined by examining the image file itself, not by simply matching the file extension
      #   NOTE: JPEG type files can have either a .jpg or a .jpeg extension, but you only should include 'JPEG' in the list below to allow this file type
      #         No matter what extension the file actually has, the type is still JPEG so that is what you must include below and it'll allow both .jpg & .jpeg extensions
      #         If you try list 'JPG' below, it will not be recognized.
      allowed-file-types-list:
        - JPEG
    Pagination:
      defaultSize: 10
      maxSize: 100
    scim:
      url: http://localhost:8080/uaa
    email-sender:
      # c2s-ui endpoint
      c2s-ui-route: /c2s-ui
      c2s-ui-verification-relative-path: "/account/verification"
      c2s-ui-verification-email-token-arg-name: "emailToken"
      c2s-ui-verification-user-preferred-locale-arg-name: "userPreferredLocale"
      brand: Consent2Share
      email-token-expiration-in-days: 7
      # To activate user account without sending email by roles
      #disabled-by-roles:
      #  - provider
    fhir:
      publish:
        enabled: false
        # configure fhir server base url
        serverUrl: http://bhitsdevhie01/hapi-fhir-jpaserver/baseStu3
        clientSocketTimeoutInMs: 768000
        use-create-for-update: false

security:
  oauth2:
    client:
      client-id: ums
      client-secret: changeit
      access-token-uri: http://localhost:8080/uaa/oauth/token
---
spring.profiles: standalone-ssl
spring:
  profiles:
    include: ssl-default
server:
  context-path: /ums
---
spring:
  profiles: docker
  datasource:
    url: jdbc:mysql://${C2S_DB_HOST:ums-db.c2s.com}:${C2S_DB_PORT:3306}/ums?autoReconnect=true
security:
  oauth2:
    client:
      access-token-uri: http://uaa.c2s.com:8080/uaa/oauth/token
c2s:
  ums:
    scim:
      url: http://uaa.c2s.com:8080/uaa
    fhir:
      publish:
        # configure fhir server base url
        serverUrl: http://hapi-fhir.c2s.com:8080/hapi-fhir-jpaserver/baseStu3